<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="./assets/images/icon-concessionarias.svg" /> Concessionárias</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <ion-icon name="arrow-back-circle-outline" class="back-button" routerLink="/concessionarias" routerDirection="root"></ion-icon>
  </div>
  
  <div *ngFor="let dealer of dealers">
    <div *ngIf="dealer.aggregated_region == region">
      <ion-card>
          <ion-card-content>
            <p>
              <strong>{{dealer.name}}</strong> <br>
              <span [innerHTML]="dealer.address"></span><br>
              {{dealer.url}}
            </p>
            
            <ion-button size="small" color="medium" (click)="this.global.goLink(dealer.url)">CONHEÇA</ion-button>
          </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>

<div class="bottom-menu ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col><a routerLink="/home" routerDirection="root"><img src="./assets/images/icon-inicio.svg" /></a></ion-col>
      <ion-col><a routerLink="/publicar" routerDirection="root"><img src="./assets/images/icon-publicar.svg" /></a></ion-col>
      <ion-col><a routerLink="/mundo-troller/null/null" routerDirection="root"><img src="./assets/images/icon-listar.svg" /></a></ion-col>
    </ion-row>
  </ion-grid>
</div>

