<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Eventos oficiais</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-icon name="arrow-back-circle-outline" class="back-button" (click)="this.global.backButton()"></ion-icon>
  </div>

  
  <div class="ion-text-center">
    <img src="{{thumb}}" width="150px" />
  </div>

  <div class="ion-padding">
    <strong>{{title}}</strong> <br>
    <div [innerHTML]="highlight_description"></div>
  </div>

</ion-content>

<div class="bottom-menu ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col><a routerLink="/home" routerDirection="root"><img src="./assets/images/icon-inicio.svg" /></a></ion-col>
      <ion-col><a routerLink="/publicar" routerDirection="root"><img src="./assets/images/icon-publicar.svg" /></a></ion-col>
      <ion-col><a routerLink="/mundo-troller/null/null" routerDirection="root"><img src="./assets/images/icon-listar.svg" /></a></ion-col>
    </ion-row>
  </ion-grid>
</div>