<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="./assets/images/icon-biotroller.svg" /> Novo Veículo</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <ion-icon name="arrow-back-circle-outline" class="back-button" (click)="this.global.backButton()"></ion-icon>
  </div>

  <form #vehicle="ngForm" (ngSubmit)="onClickSubmit(vehicle.value)">
    <ion-list class="ion-no-margin ion-no-padding btop">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-padding">
            <strong>VEÍCULO</strong>
          </ion-col>
          <ion-col class="ion-text-right">
            
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item lines="none">
        <ion-label position="stacked">APELIDO DO VEÍCULO <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="name" required type="text" placeholder="" value="{{this.name}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">CHASSI <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="chassi" required type="text" placeholder="" value="{{this.chassi}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">NOME DO PROPRIETÁRIO</ion-label>
        <ion-input name="owner_name" required type="text" placeholder="" value="{{this.owner_name}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">TIPO DO PROPRIETÁRIO <ion-text color="danger">*</ion-text></ion-label>
        <ion-select interface="popover" name="owner_type" ngModel>
          <ion-select-option value="P">Piloto</ion-select-option>
          <ion-select-option value="N">Navegador</ion-select-option>
          <ion-select-option value="T">Terceiro</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item lines="none" style="width: 50%; float: left;">
        <ion-label position="stacked">MARCA <ion-text color="danger">*</ion-text></ion-label>
        <ion-select #C (ionChange)="this.getModels(C.value)" interface="popover">
          <ion-select-option value="{{brand.id}}" *ngFor="let brand of brands">{{brand.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" style="width: 50%;">
        <ion-label position="stacked">MODELO <ion-text color="danger">*</ion-text></ion-label>
        <ion-select interface="popover" name="vehicle_model_id" ngModel>
          <div *ngFor="let model of models">
            <ion-select-option *ngIf="model.brand_id == brandId" value="{{model.id}}" >{{model.name}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>

      <ion-item lines="none" style="width: 50%; float: left;">
        <ion-label position="stacked">MOTOR <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="engine" required type="text" placeholder="" value="{{this.engine}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none" style="width: 50%;">
        <ion-label position="stacked">COMBUSTÍVEL <ion-text color="danger">*</ion-text></ion-label>
        <ion-select interface="popover" name="fuel" ngModel>
          <ion-select-option value="Diesel">Diesel</ion-select-option>
          <ion-select-option value="Gasolina">Gasolina</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" style="width: 50%; float: left;">
        <ion-label position="stacked">ANO FABRICAÇÃO <ion-text color="danger">*</ion-text></ion-label>
        <ion-select interface="popover" name="year" ngModel>
          <ion-select-option value="{{year}}" *ngFor="let year of years">{{year}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" style="width: 50%;">
        <ion-label position="stacked">ANO MODELO <ion-text color="danger">*</ion-text></ion-label>
        <ion-select interface="popover" name="model_year" ngModel>
          <ion-select-option value="{{year}}" *ngFor="let year of years">{{year}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" style="width: 50%; float: left;">
        <ion-label position="stacked">PLACA <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="plate" required type="text" placeholder="" value="{{this.plate}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none" style="width: 50%; float: left;">
        <ion-label position="stacked">KM ATUAL APROXIMADA <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="km" required type="text" placeholder="" value="{{this.km}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none" style="width: 50%;  float: left;">
        <ion-label position="stacked">COR <ion-text color="danger">*</ion-text></ion-label>
        <ion-select interface="popover" name="color" ngModel>
          <ion-select-option value="{{color}}" *ngFor="let color of colors">{{color}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" style="width: 50%;">
        <ion-label position="stacked">COR (OUTRAS)</ion-label>
        <ion-input name="color" required type="text" placeholder="" ngModel></ion-input>
      </ion-item>

      
      <ion-radio-group >
        <ion-list-header class="ion-padding-top">
          <ion-label>
            PERFIL DE USO DO VEÍCULO <ion-text color="danger">*</ion-text>
          </ion-label>
        </ion-list-header>
    
        <ion-item lines="none" style="width: 50%; float: left;" *ngFor="let usage of usages">
          <ion-label>{{usage}}</ion-label>
          <ion-checkbox checked="false" slot="start" (click)="usageProfile(usage)"></ion-checkbox>
        </ion-item>
    
      </ion-radio-group>

      <ion-item lines="none" style="clear: both;">
        <ion-label position="stacked">OUTROS</ion-label>
        <ion-input name="usage_profile_others" required type="text" placeholder="" ngModel></ion-input>
      </ion-item>

      <ion-radio-group >
        <ion-list-header class="ion-padding-top">
          <ion-label>
            POSSUI SEGURO <ion-text color="danger">*</ion-text>
          </ion-label>
        </ion-list-header>
    
        <ion-item lines="none" style="width: 50%; float: left;">
          <ion-label>SIM</ion-label>
          <ion-radio (click)="hasInsurance(0)"></ion-radio>
        </ion-item>

        <ion-item lines="none" style="width: 50%; float: left;">
          <ion-label>NÃO</ion-label>
          <ion-radio (click)="hasInsurance(1)"></ion-radio>
        </ion-item>
    
      </ion-radio-group>

      <ion-item lines="none" style="clear: both;">
        <ion-button type="submit" size="small">SALVAR</ion-button>
      </ion-item>

    </ion-list>
  </form>


</ion-content>
