<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Publicar</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
      <ion-icon name="arrow-back-circle-outline" class="back-button" (click)="this.global.backButton()"></ion-icon>
  </div>

  <div class="ion-text-center">
    <strong>ÁUDIO</strong>
  </div>

  <div class="ion-text-center ion-padding-top ion-padding-bottom">
    <ion-icon class="icon-publicar-topo" name="mic-outline"></ion-icon>
  </div>

  <form #newaudio="ngForm" (ngSubmit)="onClickSubmit(null, newaudio.value)">
    <ion-item class="ion-padding-bottom">
      <ion-label position="floating">Título</ion-label>
      <ion-input name="title" [(ngModel)]="title"></ion-input>
    </ion-item>

    <ion-list>
      <ion-item-sliding *ngFor="let f of files">
        <ion-item (click)="openFile(f)">
          <ion-icon name="image" slot="start" *ngIf="f.name.endsWith('jpg')"></ion-icon>
          <ion-icon name="videocam" slot="start" *ngIf="f.name.endsWith('MOV') || f.name.endsWith('mp4')"></ion-icon>
          <ion-icon name="mic" slot="start" *ngIf="f.name.endsWith('wav')"></ion-icon>
   
          <ion-label class="ion-text-wrap">
            {{ f.name }}
            <!-- <p>{{ f.fullPath }}</p> -->
          </ion-label>
        </ion-item>
   
        <ion-item-options side="start">
          <ion-item-option (click)="deleteFile(f)" color="danger">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
   
      </ion-item-sliding>
    </ion-list>

    <ion-item class="ion-padding-bottom">
      <ion-label>Publicar como:</ion-label>
      <ion-select name="session" [(ngModel)]="session">
        <ion-select-option value="user">Usuário</ion-select-option>
        <ion-select-option value="club" *ngIf="this.statusClub == 1">Clube</ion-select-option>
        <ion-select-option value="dealer" *ngIf="this.statusDealer == 1">Concessionária</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="ion-text-center ion-padding-bottom">
      <ion-button color="medium" (click)="recordAudio()">GRAVAR ÁUDIO</ion-button>
    </div>

    <div class="ion-text-center">
      <ion-button type="submit" color="danger">SALVAR</ion-button>
    </div>
  </form>

</ion-content>

<div class="bottom-menu ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col><a routerLink="/home" routerDirection="root"><img src="./assets/images/icon-inicio.svg" /></a></ion-col>
      <ion-col><a routerLink="/publicar" routerDirection="root"><img src="./assets/images/icon-publicar.svg" /></a></ion-col>
      <ion-col><a routerLink="/mundo-troller/null/null" routerDirection="root"><img src="./assets/images/icon-listar.svg" /></a></ion-col>
    </ion-row>
  </ion-grid>
</div>
