

<ion-content class="ion-padding">

  <div class="ion-text-center" style="margin-top: 50px;">
    <img src="assets/images/logo.svg" />
  </div>

  <div class="ion-text-center" style="margin-top: 50px;">JÁ POSSUI CADASTRO NO SITE?<br>UTILIZE SEU LOGIN</div>

	<form #login="ngForm" (ngSubmit)="onClickSubmit(login.value)" style="margin-top: 20px;">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">

          <ion-item class='ion-margin-bottom'>
            <ion-label position="stacked">CPF <ion-text color="danger">*</ion-text></ion-label>
            <ion-input name="cpf"  maxlength="14" required type="text" inputmode="email" placeholder="Seu CPF" [brmasker]="{mask:'000.000.000-00', len:14}" autocomplete="off" ngModel></ion-input>
          </ion-item>

          <ion-item class='ion-margin-bottom'>
            <ion-label position="stacked">Senha <ion-text color="danger">*</ion-text></ion-label>
            <ion-input name="password" required type="password" placeholder="***" ngModel></ion-input>
          </ion-item>
          
        </ion-list>

        <div class="ion-padding" text-center>
          <ion-button type="submit" expand="block" color="medium" class="ion-no-margin ">Login</ion-button>
        </div>
    </form>

    <div class="ion-padding" style="margin-top: 30px;" text-center>
      <ion-button routerLink="/esqueci-senha" routerDirection="root" expand="block" color="medium" class="ion-no-margin">Esqueci minha senha</ion-button>
      <br>
      <ion-button routerLink="/criar-conta" routerDirection="root" expand="block" color="medium" class="ion-no-margin">Criar conta</ion-button>
    </div>

</ion-content>