<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      
    </ion-buttons>
    <ion-title class="ion-text-center">Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <ion-icon name="arrow-back-circle-outline" class="back-button" (click)="this.global.backButton()"></ion-icon>
  </div>

  <form #account="ngForm" (ngSubmit)="onClickSubmit(account.value)">
    <ion-list class="ion-no-margin ion-no-padding">
      <ion-item lines="none">
        <ion-label position="stacked">NOME <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="name" required type="text" placeholder="" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">CPF <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="cpf" required type="text" inputmode="email" placeholder="" [brmasker]="{mask:'000.000.000-00', len:14}" autocomplete="off" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">E-MAIL <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="email" required type="text" placeholder="" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">CONFIRMA E-MAIL <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="email_confirmation" required type="text" placeholder="" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">ANO DE NASCIMENTO <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" name="birthyear" required type="text" placeholder="Ex: 1986" maxlength="4" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">SENHA <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="password" name="password" required placeholder="" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">CONFIRMAÇÃO DE SENHA <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="password" name="password_confirmation" placeholder="" ngModel></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-checkbox checked="false" slot="start" name="terms" value="true" [(ngModel)]="terms"></ion-checkbox>
        <ion-label class="ion-text-wrap"> LI E ACEITO OS <a routerLink="/termos">TERMOS DE USO</a></ion-label>
      </div>

      <div class="ion-padding ion-text-center">
          <ion-button type="submit" size="default" color="medium">criar conta</ion-button>
      </div>

    </ion-list>
  </form>

</ion-content>
