<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="./assets/images/icon-biotroller.svg" /> Novo Time</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <ion-icon name="arrow-back-circle-outline" class="back-button" (click)="this.global.backButton()"></ion-icon>
  </div>

  <form #team="ngForm" (ngSubmit)="onClickSubmit(team.value)">
    <ion-list class="ion-no-margin ion-no-padding btop">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-padding">
            <strong>TIME</strong>
          </ion-col>
          <ion-col class="ion-text-right">
            
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-item lines="none">
        <ion-label position="stacked">TIPO DO PROPRIETÁRIO DO CARRO <ion-text color="danger">*</ion-text></ion-label>
        <ion-select interface="popover" name="role_responsible_for_vehicle" ngModel>
          <ion-select-option value="driver">Piloto</ion-select-option>
          <ion-select-option value="navigator">Navegador</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">TIPO DO PROPRIETÁRIO DO TIME <ion-text color="danger">*</ion-text></ion-label>
        <ion-select interface="popover" name="role" ngModel>
          <ion-select-option value="driver">Piloto</ion-select-option>
          <ion-select-option value="navigator">Navegador</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">VEÍCULO <ion-text color="danger">*</ion-text></ion-label>
        <ion-select interface="popover" name="contestant_vehicle_id" ngModel>
          <ion-select-option value="{{vehicle.id}}" *ngFor="let vehicle of vehicles">{{vehicle.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">QUANTIDADE DE PARTICIPANTES <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="max_team_invites" required type="number" placeholder="" ngModel></ion-input>
      </ion-item>
     

      <ion-item lines="none" style="clear: both;">
        <ion-button type="submit" size="small">AVANÇAR ></ion-button>
      </ion-item>

    </ion-list>
  </form>


</ion-content>
