<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="./assets/images/icon-experiencias.svg" /> Experiências</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <a routerLink="/home">
      <ion-icon name="arrow-back-circle-outline" class="back-button"></ion-icon>
    </a>
  </div>

  <ion-card class="ion-text-center">
    <ion-grid>
      
      <ion-row>
        <ion-col>
          <a routerLink="/evento/50">
            <img src="./assets/images/copa-troller.svg">
          </a>
        </ion-col>
          
        <ion-col>
          <a routerLink="/evento/51">
            <img src="./assets/images/passeio-troller.svg">
          </a>
        </ion-col>

        <ion-col>
          <a routerLink="/evento/52">
            <img src="./assets/images/troller-brasil-festival.svg">
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <ion-button routerLink="/calendario" color="medium" expand="block">CALENDÁRIO DE EVENTOS</ion-button>
      <br />
      <ion-button routerLink="/bio" routerDirection="root" color="medium" expand="block">MEUS EVENTOS</ion-button>
      <br />
      <ion-button routerLink="/bio" routerDirection="root" color="medium" expand="block">VEÍCULOS CADASTRADOS</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<div class="bottom-menu ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col><a routerLink="/home" routerDirection="root"><img src="./assets/images/icon-inicio.svg" /></a></ion-col>
      <ion-col><a routerLink="/publicar" routerDirection="root"><img src="./assets/images/icon-publicar.svg" /></a></ion-col>
      <ion-col><a routerLink="/mundo-troller/null/null" routerDirection="root"><img src="./assets/images/icon-listar.svg" /></a></ion-col>
    </ion-row>
  </ion-grid>
</div>