<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" >
      <ion-content >
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            
            <ion-item *ngIf="p.title != 'Agenda'" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
              <!-- <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon> -->
              <img src="./assets/images/{{p.icon}}" />
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>

            <ion-item *ngIf="p.title == 'Agenda'" (click)="this.global.goLink('https://www.agenda.ford.com/')" lines="none" detail="false">
              <!-- <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon> -->
              <img src="./assets/images/{{p.icon}}" />
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>

            

          </ion-menu-toggle>
        </ion-list>

        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages2; let i2 = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
              <img src="./assets/images/{{p.icon}}" />
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="this.sair()" routerDirection="root" lines="none" detail="false">
              <img src="./assets/images/icon-sair.svg" />
              <ion-label>Sair</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <div style="font-size: 11px; padding-left: 15px;">v.1.3.2</div>
        </ion-list>

        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
