<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="./assets/images/icon-concessionarias.svg" /> Concessionárias</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <ion-icon name="arrow-back-circle-outline" class="back-button" routerLink="/home" routerDirection="root"></ion-icon>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col class="ion-text-right">
        <ion-button *ngIf='this.status == 1' routerLink="/nova-concessionaria/edit" routerDirection="root" size="small" color="medium" class="btn1">EDITAR CONCESSIONÁRIA</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  

  <div id="mapId" style="width: 100%; height: 300px"></div>

  <ion-list>
    <ion-list-header>
      <strong>SELECIONE A REGIÃO</strong>
    </ion-list-header>
    <ion-item [routerLink]="['/concessionarias-lista','north-northeast']">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      <ion-label>Norte / Nordeste</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/concessionarias-lista','south-southeast']">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      <ion-label>Sul / Sudeste</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/concessionarias-lista','center-west']">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      <ion-label>Centro Oeste</ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-list>
    <ion-list-header>
      <strong>BUSCA POR NOME OU ENDEREÇO</strong>
    </ion-list-header>
    <ion-item class="ion-no-padding">
      <ion-searchbar placeholder="Digite aqui"></ion-searchbar>
    </ion-item>
  </ion-list> -->

  <!-- <ion-list>
    <ion-list-header>
      <strong>BUSCA POR LOCALIDADE</strong>
    </ion-list-header>
    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-select value="dog">
        <ion-select-option value="">São Paulo</ion-select-option>
        <ion-select-option value="">Rio de Janeiro</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Cidade</ion-label>
      <ion-select value="dog">
        <ion-select-option value="">São Paulo</ion-select-option>
        <ion-select-option value="">Rio de Janeiro</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list> -->

  <!-- <div class="ion-text-center">
    <ion-button color="medium">USAR MINHA LOCALIZAÇÃO</ion-button>
    <ion-button color="medium">AGENDA TROLLER</ion-button>
  </div> -->


</ion-content>

<div class="bottom-menu ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col><a routerLink="/home" routerDirection="root"><img src="./assets/images/icon-inicio.svg" /></a></ion-col>
      <ion-col><a routerLink="/publicar" routerDirection="root"><img src="./assets/images/icon-publicar.svg" /></a></ion-col>
      <ion-col><a routerLink="/mundo-troller/null/null" routerDirection="root"><img src="./assets/images/icon-listar.svg" /></a></ion-col>
    </ion-row>
  </ion-grid>
</div>

