<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="./assets/images/icon-biotroller.svg" /> Bio Troller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <ion-icon name="arrow-back-circle-outline" class="back-button" (click)="this.global.backButton()"></ion-icon>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="8" class="col">
        <img src="{{avatar}}" width="30" style="border-radius: 100px;"> {{name}}
      </ion-col>
      <ion-col size="4" class="ion-text-right">
          <ion-button (click)="selectMedia()" size="small" class="btn1">EDITAR FOTO</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>

  <!-- ### DADOS PESSOAIS ### -->
  <form #account="ngForm" (ngSubmit)="onClickSubmit(account.value)">
    <ion-list class="ion-no-margin ion-no-padding btop">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-padding">
            <strong>DADOS PESSOAIS</strong>
          </ion-col>
          <ion-col class="ion-text-right">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-item lines="none">
        <ion-label position="stacked">NOME <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="name" required type="text" placeholder="" [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">APELIDO</ion-label>
        <ion-input name="nickname" required type="text" placeholder="" [(ngModel)]="nickname"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">CPF <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="cpf" required type="text" placeholder="" [(ngModel)]="cpf" [brmasker]="{person: true}"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">E-MAIL <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="email" required type="text" placeholder="" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">CELULAR <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="mobile_number" required type="text" placeholder="" [(ngModel)]="mobile_number"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">ANO DE NASCIMENTO <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="birthyear" required type="text" placeholder="" [(ngModel)]="birthdate"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">CEP <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="cep" required type="text" placeholder="" [(ngModel)]="cep"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">ENDEREÇO <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="address" required type="text" placeholder="" [(ngModel)]="address"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">NÚMERO <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="number" required type="text" placeholder="" [(ngModel)]="number"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">COMPLEMENTO <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="complement" required type="text" placeholder="" [(ngModel)]="complement"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">ESTADO <ion-text color="danger">*</ion-text></ion-label>
        <ion-select #C (ionChange)="this.getCities(C.value)" interface="popover">
          <ion-select-option value="{{state.id}}" *ngFor="let state of this.states">{{state.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">CIDADE <ion-text color="danger">*</ion-text></ion-label>
        <ion-select name="city_id" ngModel interface="popover">
          <ion-select-option value="{{city.id}}" *ngFor="let city of this.cities">{{city.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">SENHA</ion-label>
        <ion-input name="password" required type="password" placeholder="" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">CONFIRMAR SENHA</ion-label>
        <ion-input name="password_confirmation" required type="password" placeholder="" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-button type="submit" size="small" class="btn1">SALVAR</ion-button>
      </ion-item>

    </ion-list>
  </form>


  <ion-list class="ion-no-margin ion-no-padding btop">
    
    <ion-grid>
      <ion-row>
        <ion-col class="ion-padding">
          <strong>VEÍCULOS</strong>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right">
          <ion-button routerLink="/novo-veiculo/new/null" routerDirection="root" size="small" class="btn1">INCLUIR</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    

    <ion-card class="ion-margin" *ngFor="let vehicle of this.vehicles">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="5">
              <strong>VEÍCULO CADASTRADO</strong>
            </ion-col>
            <ion-col>
              <div class="ion-text-right">
                <ion-button size="small" class="btn1" routerLink="/novo-veiculo/edit/{{vehicle.id}}" routerDirection="root" size="small">EDITAR</ion-button>
                <ion-button size="small" class="btn1" (click)="deleteVehicle(vehicle.id)">EXCLUIR</ion-button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">{{vehicle.owner_name}}<br>{{vehicle.vehicle_model.brand_name}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list class="ion-no-margin ion-no-padding btop">
    
    <ion-grid>
      <ion-row>
        <ion-col class="ion-padding">
          <strong>TIMES</strong>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right">
          <!-- <ion-button routerLink="/novo-time/new/null/null" routerDirection="root" size="small" class="btn1">INCLUIR</ion-button> -->
        </ion-col>
      </ion-row>
    </ion-grid>
    

    <ion-card class="ion-margin" *ngFor="let team of this.teams">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="5">
              <strong>TIME CADASTRADO</strong>
            </ion-col>
            <ion-col>
              <div class="ion-text-right">
                <ion-button size="small" class="btn1" routerLink="/novo-veiculo/edit/{{vehicle.id}}" routerDirection="root" size="small">EDITAR</ion-button>
                <ion-button size="small" class="btn1" (click)="deleteVehicle(vehicle.id)">EXCLUIR</ion-button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">{{vehicle.owner_name}}<br>{{vehicle.vehicle_model.brand_name}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list class="ion-no-margin ion-no-padding btop">
    
    <ion-grid>
      <ion-row>
        <ion-col class="ion-padding">
          <strong>MEUS EVENTOS</strong>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right">
          <ion-button routerLink="/calendario" routerDirection="root" size="small" class="btn1">INSCREVA-SE</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    

    <ion-card class="ion-margin" *ngFor="let event of this.events">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              EVENTO <br>
              <span class="fblack">{{event.title}}</span>
            </ion-col>
            <ion-col size="4">
              STATUS <br>
              <span class="fblack">Inscrição Confirmada</span>
            </ion-col>
          </ion-row>
        </ion-grid>
    
        <ion-grid class="btop">
          <ion-row>
            <ion-col>
              PILOTO <br>
              <span class="fblack" *ngFor="let member of event.team.contestants">
                <span *ngIf="member.role == 'driver'">{{member.name}}</span>
              </span>
            </ion-col>
            <ion-col size="6">
              <div class="ion-text-right">
                <ion-button size="small" class="btn1">CANCELAR INSCRIÇÃO</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    
        <ion-grid class="btop">
          <ion-row>
            <ion-col size="12">
              EQUIPE <br>
              <div class="fblack" *ngFor="let member of event.team.contestants">{{member.name}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              1. Todos os membros da equipe receberão e-mail de convite.<br>
              2. Depois de clicar no link recebido via e-mail, todos deverão aceitar as condições para sua inscrição ser efetivada. <br>
              3. O membro da equipe que não efetivar a inscrição até o início da etapa em que sua equipe está participando, automaticamente, sua participação será anulada e este não fará parte da COPA TROLLER
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="fblack"><strong>Número da equipe XX</strong></ion-col>
            <ion-col size="6">
              <ion-button size="small" class="btn1">CONVIDAR EQUIPE</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>


  <ion-list class="ion-no-margin ion-no-padding btop">
    
    <ion-grid>
      <ion-row>
        <ion-col class="ion-padding">
          <strong>AVISOS</strong>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    

    <ion-card class="ion-margin" *ngFor="let notification of this.notifications">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">{{notification.headings['en']}}<br>{{notification.contents['en']}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- ### MEUS EVENTOS ### -->
  <!-- <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item lines="none">
      <strong>MEUS EVENTOS</strong>
    </ion-item>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          EVENTO <br>
          Copa Troller Sul/Sudeste Copa Troller - Ribeirão Preto/SP 20/09/2020
        </ion-col>
        <ion-col size="3">
          STATUS <br>
          Inscrição Confirmada
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          PILOTO <br>
          Jorge Castro
        </ion-col>
        <ion-col size="6">
          <div class="ion-text-right">
            <ion-button size="small" class="btn1">CANCELAR INSCRIÇÃO</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          EQUIPE <br>
          Nenhum membro foi confirmado até o momento.
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          1. Todos os membros da equipe receberão e-mail de convite.<br>
          2. Depois de clicar no link recebido via e-mail, todos deverão aceitar as condições para sua inscrição ser efetivada. <br>
          3. O membro da equipe que não efetivar a inscrição até o início da etapa em que sua equipe está participando, automaticamente, sua participação será anulada e este não fará parte da COPA TROLLER
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">Número da equipe 1007</ion-col>
        <ion-col size="6">
          <ion-button size="small" class="btn1">CONVIDAR EQUIPE</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list> -->

  

</ion-content>

<div class="bottom-menu ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col><a routerLink="/home" routerDirection="root"><img src="./assets/images/icon-inicio.svg" /></a></ion-col>
      <ion-col><a routerLink="/publicar" routerDirection="root"><img src="./assets/images/icon-publicar.svg" /></a></ion-col>
      <ion-col><a routerLink="/mundo-troller/null/null" routerDirection="root"><img src="./assets/images/icon-listar.svg" /></a></ion-col>
    </ion-row>
  </ion-grid>
</div>
