ion-content, ion-item, ion-list {--background: #EFEFEF !important;}
ion-card {border: 1px solid #ccc;}
ion-list {background: #EEEE !important; color: #000;}
ion-input, ion-select {--background: #FFFFFF; border: 1px solid #707070; border-radius: 5px; font-size: 14px; padding-left: 10px !important;}
ion-label {padding-bottom: 20px;}