<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="./assets/images/icon-experiencias.svg" /> Calendário de Eventos</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-icon name="arrow-back-circle-outline" class="back-button" (click)="this.global.backButton()"></ion-icon>
  </div>

  <ion-card *ngFor="let calendar of calendars">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>

            <ion-label>
              <h2>{{ calendar.name }}</h2>
              <!-- <h3>I'm a big deal</h3> -->
              <p>{{ calendar.start }}</p>
              <!-- <p>{{ calendar.location_address }}</p> -->
            </ion-label>
          </ion-item>
        </ion-col>
        
        <ion-col class="ion-text-right" style="padding-top: 25px; font-size: 18px">
          <ion-button routerLink="/categorias-evento/{{calendar.id}}" routerDirection="root" size="small" color="medium">INSCRIÇÃO</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-item><p>{{ calendar.location_address }}</p></ion-item></ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            
            <div [innerHTML]="calendar.highlight_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          
          </ion-col>
          <ion-col size="4">
            <img src="{{ calendar.highlight_img_url }}">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  

</ion-content>

<div class="bottom-menu ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col><a routerLink="/home" routerDirection="root"><img src="./assets/images/icon-inicio.svg" /></a></ion-col>
      <ion-col><a routerLink="/publicar" routerDirection="root"><img src="./assets/images/icon-publicar.svg" /></a></ion-col>
      <ion-col><a routerLink="/mundo-troller/null/null" routerDirection="root"><img src="./assets/images/icon-listar.svg" /></a></ion-col>
    </ion-row>
  </ion-grid>
</div>
