<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="this.type == 'edit'" class="ion-text-center"><img src="./assets/images/icon-biotroller.svg" /> Editar Concessionária</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <ion-icon name="arrow-back-circle-outline" class="back-button" routerLink="/concessionarias" routerDirection="root"></ion-icon>
  </div>

  <form #club="ngForm" (ngSubmit)="onClickSubmit(club.value)">
    <ion-list class="ion-no-margin ion-no-padding btop">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-padding">
            <strong>DADOS DA CONCESSIONÁRIA</strong>
          </ion-col>
          <ion-col class="ion-text-right">
            
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item lines="none">
        <ion-label position="stacked">NOME DA CONCESSIONÁRIA <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="name" required type="text" placeholder="" value="{{this.name}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">CNPJ <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="cnpj" required type="text" placeholder="" value="{{this.cnpj}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">E-MAIL <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="email" required type="text" placeholder="" value="{{this.email}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none" style="width: 50%; float: left;">
        <ion-label position="stacked">TELEFONE <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="phone_number" required type="text" placeholder="" value="{{this.phone_number}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">CEP <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="cep" required type="text" placeholder="" value="{{this.cep}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">ENDEREÇO <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="address" required type="text" placeholder="" value="{{this.address}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none" style="width: 50%; float: left;">
        <ion-label position="stacked">NÚMERO <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="number" required type="text" placeholder="" value="{{this.number}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none" style="width: 50%;">
        <ion-label position="stacked">COMPLEMENTO <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="complement" required type="text" placeholder="" value="{{this.complement}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none" style="width: 50%; float: left;">
        <ion-label position="stacked">ESTADO <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="state" required type="text" placeholder="" value="{{this.state}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none" style="width: 50%;">
        <ion-label position="stacked">CIDADE <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="city" required type="text" placeholder="" value="{{this.city}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">HORÁRIOS DE FUNCIONAMENTO <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="opening_hours" required type="text" placeholder="" value="{{this.opening_hours}}" ngModel></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">URL DO SITE <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="link" required type="text" placeholder="" value="{{this.link}}" ngModel></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-checkbox checked="false" slot="start" name="terms" value="true" [(ngModel)]="terms"></ion-checkbox>
        <ion-label class="ion-text-wrap"> LI E ACEITO OS <a routerLink="/termos">TERMOS DE USO</a></ion-label>
      </div>

      <div class="ion-text-center">
        <ion-button *ngIf="this.type == 'new'" type="submit" size="medium" color="medium">CADASTRAR</ion-button>

        <ion-button *ngIf="this.type == 'edit'" type="submit" size="medium" color="medium">ATUALIZAR</ion-button>
      </div>

    </ion-list>
  </form>


</ion-content>
