<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="./assets/images/icon-beneficios.svg" /> Benefícios</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label style="text-align: right; font-size: 12px">FILTRO</ion-label>
    <ion-select #C (ionChange)="this.getBenefits(C.value)" interface="popover" style="font-size: 12px">
      <ion-select-option value="null">Todos</ion-select-option>
      <ion-select-option *ngFor="let type of types" value="{{type.id}}">{{type.title}}</ion-select-option>

    </ion-select>
  </ion-item>

  <div>
    <ion-icon name="arrow-back-circle-outline" class="back-button" (click)="this.global.backButton()"></ion-icon>
  </div>

  <div *ngIf="this.loading == true" class='ion-text-center'>
    <ion-spinner color="primary" name="lines"></ion-spinner>
  </div>
  
  <ion-card *ngFor="let benefit of benefits">
    <img src="{{benefit.benefitFile}}" />
    <ion-card-header>
      <ion-card-subtitle>{{benefit.benefitType}}</ion-card-subtitle>
      <ion-card-title>{{benefit.benefitTitle}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{benefit.benefitText}}
      <br>
      <ion-button size="small" color="medium" (click)="this.global.goLink(benefit.benefitLink)">ACESSAR LINK</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<div class="bottom-menu ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col><a routerLink="/home" routerDirection="root"><img src="./assets/images/icon-inicio.svg" /></a></ion-col>
      <ion-col><a routerLink="/publicar" routerDirection="root"><img src="./assets/images/icon-publicar.svg" /></a></ion-col>
      <ion-col><a routerLink="/mundo-troller/null/null" routerDirection="root"><img src="./assets/images/icon-listar.svg" /></a></ion-col>
    </ion-row>
  </ion-grid>
</div>

