<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="./assets/images/icon-clubes.svg" /> Clubes</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <ion-icon name="arrow-back-circle-outline" class="back-button" routerLink="/home" routerDirection="root"></ion-icon>
  </div>

  <div *ngIf=!this.loading class='ion-text-center'>
    <ion-spinner color="primary" name="lines"></ion-spinner>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col class="ion-text-right">
        <ion-button *ngIf="this.status == null" routerLink="/novo-clube/new" routerDirection="root" size="small" color="medium" class="btn1">CADASTRAR CLUBE</ion-button>

        <ion-button *ngIf='this.status == 0' size="small" color="medium" class="btn1" disabled="true"><ion-icon name="time-outline"></ion-icon> AGUARDANDO APROVAÇÃO</ion-button>

        <ion-button *ngIf='this.status == 1' routerLink="/novo-clube/edit" routerDirection="root" size="small" color="medium" class="btn1">EDITAR CLUBE</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-card *ngFor="let club of clubs">
    <!-- <img src="{{club.clubFile}}" /> -->
    <ion-card-content>
      <p>
        <strong>{{club.clubName}}</strong> <br>
        {{club.clubLink}}
      </p>

        <ion-button routerLink="/clube/{{club.clubId}}" routerDirection="root" size="small" color="medium">VER CLUBE</ion-button>
      
    </ion-card-content>
    

  </ion-card>

</ion-content>

<div class="bottom-menu ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col><a routerLink="/home" routerDirection="root"><img src="./assets/images/icon-inicio.svg" /></a></ion-col>
      <ion-col><a routerLink="/publicar" routerDirection="root"><img src="./assets/images/icon-publicar.svg" /></a></ion-col>
      <ion-col><a routerLink="/mundo-troller/null/null" routerDirection="root"><img src="./assets/images/icon-listar.svg" /></a></ion-col>
    </ion-row>
  </ion-grid>
</div>

