<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="./assets/images/icon-mundotroller.svg" /> Mundo Troller</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item *ngIf="this.session == 'null'">
    <ion-label style="text-align: right; font-size: 12px">FILTRO</ion-label>
    <ion-select #C (ionChange)="this.getPublications(C.value)" interface="popover" style="font-size: 12px">
      <ion-select-option value="null" selected>Todos</ion-select-option>
      <ion-select-option value="user">Usuários</ion-select-option>
      <ion-select-option value="troller">Troller</ion-select-option>
      <ion-select-option value="club">Clubes</ion-select-option>
      <ion-select-option value="dealer">Concessionárias</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="ion-padding">
    <ion-icon name="arrow-back-circle-outline" class="back-button" (click)="this.global.backButton()"></ion-icon>
  </div>

  <div *ngIf="this.loading == true" class='ion-text-center'>
    <ion-spinner color="primary" name="lines"></ion-spinner>
  </div>

  <ion-card *ngFor="let publication of publications">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-item routerLink="/mundo-troller/{{publication.publicationSession}}/{{publication.publicationUserId}}" routerDirection="root">
            <ion-avatar slot="start">
              <img src="{{this.global.url}}/storage/{{ publication.userAvatar }}">
            </ion-avatar>
            <ion-label text-wrap>
              <h2>{{ publication.publicationUser }}</h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2" class="ion-text-right" style="padding-top: 25px; font-size: 18px">
          <ion-button color="light" class="shareButton" (click)="this.global.shareSocial(publication.publicationFile, publication.publicationTitle, publication.publicationText)"><ion-icon name="share-social-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      {{ publication.publicationTitle }}

      <p *ngIf=" publication.publicationType == 'article'">{{ publication.publicationText }}</p>

      <ion-grid *ngIf=" publication.publicationType == 'map' ">
        <ion-row >
          <ion-col size="8">
            <ion-button size="small" color="medium"  (click)="this.global.goLink(publication.publicationText)">LINK</ion-button>
          </ion-col>
          <ion-col size="4">
            <img *ngIf="publication.publicationRegion == 'norte'" src="./assets/images/mapa-norte.png">

            <img *ngIf="publication.publicationRegion == 'nordeste'" src="./assets/images/mapa-nordeste.png">

            <img *ngIf="publication.publicationRegion == 'centrooeste'" src="./assets/images/mapa-centrooeste.png">

            <img *ngIf="publication.publicationRegion == 'sudeste'" src="./assets/images/mapa-sudeste.png">

            <img *ngIf="publication.publicationRegion == 'sul'" src="./assets/images/mapa-sul.png">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <div *ngIf=" publication.publicationType == 'photo'" class="img-card" [style.backgroundImage]="'url('+ publication.publicationFile + ')'"></div>

    <video *ngIf=" publication.publicationType == 'video'" src = "{{ publication.publicationFile }}#t=0.1" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"></video>

    <audio *ngIf=" publication.publicationType == 'audio'" controls>
      <source src="{{ publication.publicationFile }}" type="audio/mpeg">
    </audio> 
    
  </ion-card>

  

</ion-content>

<div class="bottom-menu ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col><a routerLink="/home" routerDirection="root"><img src="./assets/images/icon-inicio.svg" /></a></ion-col>
      <ion-col><a routerLink="/publicar" routerDirection="root"><img src="./assets/images/icon-publicar.svg" /></a></ion-col>
      <ion-col><a routerLink="/mundo-troller/null/null" routerDirection="root"><img src="./assets/images/icon-listar.svg" /></a></ion-col>
    </ion-row>
  </ion-grid>
</div>
