<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="./assets/images/icon-mapas.svg" /> Mapas</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label style="text-align: right; font-size: 12px">FILTRO</ion-label>
    <ion-select #C (ionChange)="this.getMaps(C.value)" interface="popover" style="font-size: 12px">
      <ion-select-option value="null" selected>Todos</ion-select-option>
      <ion-select-option value="norte">Norte</ion-select-option>
      <ion-select-option value="nordeste">Nordeste</ion-select-option>
      <ion-select-option value="centrooeste">Centro-Oeste</ion-select-option>
      <ion-select-option value="sul">Sul</ion-select-option>
      <ion-select-option value="sudeste">Sudeste</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="ion-padding">
    <ion-icon name="arrow-back-circle-outline" class="back-button" (click)="this.global.backButton()"></ion-icon>
  </div>

  <div *ngIf="this.loading == true" class='ion-text-center'>
    <ion-spinner color="primary" name="lines"></ion-spinner>
  </div>

  <ion-card *ngFor="let map of maps">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/images/avatar-generic.png">
            </ion-avatar>
            <ion-label>
              <h2>{{map.mapUser}}</h2>
              <p>{{map.mapDate}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
        
        <ion-col class="ion-text-right" style="padding-top: 25px; font-size: 18px">
          <ion-icon name="share-social-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <strong>{{map.mapTitle}}</strong><br />
            <ion-button size="small" color="medium"  (click)="this.global.goLink(map.mapText)">LINK</ion-button>
          </ion-col>
          <ion-col size="4">
            <img *ngIf="map.mapRegion == 'norte'" src="./assets/images/mapa-norte.png">

            <img *ngIf="map.mapRegion == 'nordeste'" src="./assets/images/mapa-nordeste.png">

            <img *ngIf="map.mapRegion == 'centrooeste'" src="./assets/images/mapa-centrooeste.png">

            <img *ngIf="map.mapRegion == 'sudeste'" src="./assets/images/mapa-sudeste.png">

            <img *ngIf="map.mapRegion == 'sul'" src="./assets/images/mapa-sul.png">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  

</ion-content>

<div class="bottom-menu ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col><a routerLink="/home" routerDirection="root"><img src="./assets/images/icon-inicio.svg" /></a></ion-col>
      <ion-col><a routerLink="/publicar" routerDirection="root"><img src="./assets/images/icon-publicar.svg" /></a></ion-col>
      <ion-col><a routerLink="/mundo-troller/null/null" routerDirection="root"><img src="./assets/images/icon-listar.svg" /></a></ion-col>
    </ion-row>
  </ion-grid>
</div>
