<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Experiências</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-avatar slot="start">
              <a routerLink="/experiencias">
                <ion-icon name="arrow-back-circle-outline" style="font-size: 40px; color: black;"></ion-icon>
              </a>
            </ion-avatar>
            <ion-label>
              <h6>EXPERIÊNCIAS > {{name}}</h6>
              <!-- <h3>I'm a big deal</h3> -->
              <!-- <p>13 de março às 15:36</p> -->
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-text-center">
      <img src="{{thumb}}" width="150px" />
    </div>
    <br />
    <ion-card-content>
      <ion-button routerLink="/evento-sobre/{{eventId}}" routerDirection="root" expand="block">{{name}}</ion-button>
      <br />
      <ion-button  routerLink="/evento-calendario/{{eventId}}" routerDirection="root" expand="block">CALENDÁRIO E COBERTURA</ion-button>
      <br />
      <ion-button expand="block" (click)="this.global.goLink(guide.asset_path)">GUIA DO COMPETIDOR</ion-button>
      <br />
      <ion-button expand="block" (click)="this.global.goLink(adhesiveness.asset_path)">MAPA DE ADESIVAGEM</ion-button>
      <br />
      <ion-button routerLink="/categorias-evento/{{eventId}}" routerDirection="root" expand="block">INSCRIÇÃO</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<div class="bottom-menu ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col><a routerLink="/home" routerDirection="root"><img src="./assets/images/icon-inicio.svg" /></a></ion-col>
      <ion-col><a routerLink="/publicar" routerDirection="root"><img src="./assets/images/icon-publicar.svg" /></a></ion-col>
      <ion-col><a routerLink="/mundo-troller/null/null" routerDirection="root"><img src="./assets/images/icon-listar.svg" /></a></ion-col>
    </ion-row>
  </ion-grid>
</div>
