<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <ion-icon name="arrow-back-circle-outline" class="back-button" (click)="this.global.backButton()"></ion-icon>
  </div>

  <form #pay="ngForm" (ngSubmit)="onClickSubmit(pay.value)">
    <!-- <ion-list>

      <ion-item class='ion-margin-bottom'>
          <ion-label position="stacked">Nome (como está no cartão) <ion-text color="danger">*</ion-text></ion-label>
          <ion-input name="card_holder_name" type="text" ngModel></ion-input>
      </ion-item>

      <ion-item class='ion-margin-bottom'>
        <ion-label position="stacked">Número do Cartão <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="card_number" type="text" ngModel></ion-input>
      </ion-item>

      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col size="4" class="ion-no-padding ion-no-margin">
            <ion-item class='ion-margin-bottom'>
                <ion-label position="stacked">Validade <ion-text color="danger">*</ion-text></ion-label>
                <ion-select name="card_expiration_month" ngModel interface="popover" style="margin-top: 5px;">
                    <ion-select-option value="">Mês</ion-select-option>
                    <ion-select-option value="01" >01</ion-select-option>
                    <ion-select-option value="02">02</ion-select-option>
                    <ion-select-option value="03">03</ion-select-option>
                    <ion-select-option value="04">04</ion-select-option>
                    <ion-select-option value="05">05</ion-select-option>
                    <ion-select-option value="06">06</ion-select-option>
                    <ion-select-option value="07">07</ion-select-option>
                    <ion-select-option value="08">08</ion-select-option>
                    <ion-select-option value="09">09</ion-select-option>
                    <ion-select-option value="10">10</ion-select-option>
                    <ion-select-option value="11">11</ion-select-option>
                    <ion-select-option value="12">12</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col>

          <ion-col size="4" class="ion-no-padding ion-no-margin">
            <ion-item class='ion-margin-bottom'>
                <ion-label position="stacked">&nbsp;</ion-label>
                <ion-select name="card_expiration_year" ngModel interface="popover" style="margin-top: 5px;">
                    <ion-select-option value="">Ano</ion-select-option>
                    <ion-select-option value="20">20</ion-select-option>
                    <ion-select-option value="21">21</ion-select-option>
                    <ion-select-option value="22">22</ion-select-option>
                    <ion-select-option value="23">23</ion-select-option>
                    <ion-select-option value="24">24</ion-select-option>
                    <ion-select-option value="25">25</ion-select-option>
                    <ion-select-option value="26">26</ion-select-option>
                    <ion-select-option value="27">27</ion-select-option>
                    <ion-select-option value="28">28</ion-select-option>
                    <ion-select-option value="29">29</ion-select-option>
                    <ion-select-option value="30">30</ion-select-option>
                    <ion-select-option value="31">31</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item class='ion-margin-bottom'>
                <ion-label position="stacked">CVV <ion-text color="danger">*</ion-text></ion-label>
                <ion-input name="card_cvv" type="text" ngModel></ion-input>
              </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-list> -->

    <ion-input name="amount" type="hidden" [(ngModel)]="amount"></ion-input>

    <div class="ion-padding" text-center>
      <strong>Valor a pagar:</strong> R${{amount}}<br><br>
      <ion-button type="submit" class="ion-no-margin btn-blue"><ion-icon name="logo-paypal"></ion-icon>&nbsp;Pagar com PayPal</ion-button>
    </div>
  </form>

</ion-content>
