<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="./assets/images/icon-clubes.svg" /> Clube</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-icon name="arrow-back-circle-outline" class="back-button" (click)="this.global.backButton()"></ion-icon>
  </div>

  
    <!-- <img src="https://picsum.photos/seed/picsum/370/150" /> -->

    <div class="ion-padding">
      <p *ngFor="let club of club">
        <strong>{{club.clubName}}</strong> <br>
        <strong>Responsável: </strong>{{club.clubResponsible}}<br>
        <strong>Endereço: </strong> {{club.clubAddress}}, {{club.clubNumber}} {{club.clubComplement}}
        {{club.clubCity}} - {{club.clubState}} <br>
        <strong>CEP: </strong> {{club.clubCep}}<br>
        <strong>Site: </strong> {{club.clubLink}}<br>
        <strong>Email: </strong> {{club.clubEmail}}<br>
        <strong>Celular: </strong> {{club.clubMobileNumber}}<br>
        <strong>Rádio PX: </strong> {{club.clubRadioPx}}<br>
        <strong>Associados: </strong> {{club.clubAssociates}}
      </p>
    </div>
    

  <!-- <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://picsum.photos/seed/picsum/40">
            </ion-avatar>
            <ion-label>
              <h2>clubetrollerminas</h2>
              <p>13 de março às 15:36</p>
            </ion-label>
          </ion-item>
        </ion-col>
        
        <ion-col class="ion-text-right" style="padding-top: 25px; font-size: 18px">
          <ion-icon name="share-social-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      A Troller é uma marca de automóveis fundada originalmente no Brasil.
    </ion-card-content>
    <img src="./assets/images/banner.png" />
  </ion-card> -->


</ion-content>

<div class="bottom-menu ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col><a routerLink="/home" routerDirection="root"><img src="./assets/images/icon-inicio.svg" /></a></ion-col>
      <ion-col><a routerLink="/publicar" routerDirection="root"><img src="./assets/images/icon-publicar.svg" /></a></ion-col>
      <ion-col><a routerLink="/mundo-troller/null/null" routerDirection="root"><img src="./assets/images/icon-listar.svg" /></a></ion-col>
    </ion-row>
  </ion-grid>
</div>