<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      
    </ion-buttons>
    <ion-title class="ion-text-center">Recuperar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <ion-icon name="arrow-back-circle-outline" class="back-button" (click)="this.global.backButton()"></ion-icon>
  </div>

  <form #recover="ngForm" (ngSubmit)="onClickSubmit(recover.value)">
    <ion-list class="ion-no-margin ion-no-padding">
      <ion-item lines="none">
        <ion-label position="stacked">CPF <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="cpf" required type="text" inputmode="email" placeholder="" ngModel [brmasker]="{mask:'000.000.000-00', len:14}" autocomplete="off"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">E-MAIL <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="email" required type="text" placeholder="" ngModel></ion-input>
      </ion-item>

      <div class="ion-padding ion-text-center">
          <ion-button type="submit" size="default" color="medium">enviar</ion-button>
      </div>

    </ion-list>
  </form>

</ion-content>
