/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~leaflet/dist/leaflet.css";

ion-content {--padding-bottom: 150px !important;}

.bottom-menu {z-index: 9999; background: #EFEFEF; position: fixed; bottom: 0; width: 100%; height: 50px; padding-top: 5px; padding-bottom: 5px; box-shadow: 0px -2px 5px 0px rgba(168,168,168,1);}
.bottom-menu img {width: 30px; margin-top: 5px;}

ion-menu-button {color: #000; width: 29px; height: 29px; border: 1px solid #000; border-radius: 100px; margin-left: 20px;}
ion-title {color: #000; font-size: 20px; margin-left: -10px;}
ion-title img {width: 25px; position: absolute; margin-left: -30px;}

.back-button {font-size: 38px; color: black;}

.icon-publicar-topo {font-size: 52px; padding: 10px; border-radius: 100px; background-color: #D8D8D8; color: #959595;}

.img-card {
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
}

video {
	object-fit: cover;
	width: 100%;
	height: 300px;
	overflow: hidden;
}

audio {width: 100%;}

.shareButton {
	--ion-color-base: none !important;
	--box-shadow:none;
}