<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

<!--   <ion-card>
    <img src="./assets/images/banner.png" />
  </ion-card> -->

  <ion-slides pager #slides>
    <ion-slide *ngFor="let banner of banners" (click)="this.global.goLink(banner.bannerLink)">
      <img src="{{banner.bannerImg}}" />
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col>
        <a routerLink="/mundo-troller/null/null" routerDirection="root">
          <img src="./assets/images/menu1.svg" />
        </a>
      </ion-col>
      <ion-col>
        <a routerLink="/experiencias" routerDirection="root">
          <img src="./assets/images/menu2.svg" />
        </a>
      </ion-col>
      <ion-col>
        <a routerLink="/mapas" routerDirection="root">
          <img src="./assets/images/menu3.svg" />
        </a>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <a routerLink="/loja" routerDirection="root">
          <img src="./assets/images/menu4.svg" />
        </a>
      </ion-col>
      <ion-col>
        <a routerLink="/bio" routerDirection="root">
          <img src="./assets/images/menu5.svg" />
        </a>
      </ion-col>
      <ion-col>
        <a routerLink="/clubes" routerDirection="root">
          <img src="./assets/images/menu6.svg" />
        </a>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="./assets/images/menu7.svg" (click)="this.global.goLink('https://www.agenda.ford.com/')" />
      </ion-col>
      <ion-col>
        <a routerLink="/beneficios" routerDirection="root">
          <img src="./assets/images/menu8.svg" />
        </a>
      </ion-col>
      <ion-col>
        <a routerLink="/concessionarias" routerDirection="root">
          <img src="./assets/images/menu9.svg" />
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<div class="bottom-menu ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col><a routerLink="/home" routerDirection="root"><img src="./assets/images/icon-inicio.svg" /></a></ion-col>
      <ion-col><a routerLink="/publicar" routerDirection="root"><img src="./assets/images/icon-publicar.svg" /></a></ion-col>
      <ion-col><a routerLink="/mundo-troller/null/null" routerDirection="root"><img src="./assets/images/icon-listar.svg" /></a></ion-col>
    </ion-row>
  </ion-grid>
</div>
