<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img src="./assets/images/icon-experiencias.svg" /> Categorias</ion-title>
    <ion-buttons routerLink="/bio" routerDirection="root" slot="end" style="margin-right: 25px;">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -8px; top: -3px; border-radius: 100px; width: 23px; height: 20px;">{{this.qtdNotifications}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <ion-icon name="arrow-back-circle-outline" class="back-button" (click)="this.global.backButton()"></ion-icon>
  </div>

  <ion-list>
    <ion-item *ngFor="let category of categories" routerLink="/novo-time/new/{{id}}/{{category['contest_id']}}/{{category['value']}}" routerDirection="root">
      <ion-label><strong>{{category['category']}}</strong> - R${{category['value']}}</ion-label>
    </ion-item>
  </ion-list>

  

</ion-content>
